{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('{% static 'img/home-bg.jpg'%}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Purely Pythonic</h1>
                    <hr class="small">
                    <span class="subheading">A collection of Python tutorials and projects.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            <!-- List through the posts in the page -->
            {% for post in posts %}
            <div class="post-preview">
                <a href="{% url 'post' post.slug %}">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ post.subtitle }}
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="{% url 'about' %}">{{post.author.username}}</a> on {{post.published_date|date:"M j, Y"}}</p>
            </div>
            <hr>
            {% endfor %}

            <!-- Pager -->
            <ul class="pager">
                <li class="pull-left">
                    <span class="current">
                        Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                    </span>
                </li>
                <li class="next">
                    {% if posts.has_previous %}
                    <a href="?page={{ contacts.previous_page_number }}">Older Posts &rarr;</a>
                    {% endif %}
                </li>
            </ul>
            
        </div>
    </div>
</div>
{% endblock %}